body {
  background: #e0e0e0;
}

#my-calendar {
  -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
  margin:50px auto;
  font: 13px/1.5 Helvetica, Arial;
  display:table;
}

#my-calendar .header {
  cursor:default;
  background: #42A5F5;
  height: 34px;
  position: relative;
  color:#fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight:bold;
  text-transform: uppercase;
}
#my-calendar .header span {
  display:inline-block;
  line-height:34px;
}

#my-calendar .header .button {
  width:24px;
  text-align:center;
  position:absolute;
}
#my-calendar .header .left.button {
  left:0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
#my-calendar .header .right.button {
  right:0;
  top:0;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
#my-calendar .header .button:hover {
  background: #1E88E5;
}

#my-calendar .header .month-year {
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

#my-calendar table {
  background:#fff;
  border-collapse:collapse;
}
#my-calendar td {
  color:#2b2b2b;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  border:1px solid #e6e6e6;
  cursor:default;
}
#my-calendar #days td {
  height:26px;
  line-height: 26px;
  text-transform:uppercase;
  font-size:90%;
  color:#9e9e9e;
}
#my-calendar #days td:not(:last-child) {
  border-right:1px solid #fff;
}

#my-calendar #cal-frame td.today {
  background:#BBDEFB;
  color:#FAFAFA;
  box-shadow:1px 1px 0px #fff inset;
  -moz-box-shadow:1px 1px 0px #fff inset;
  -webkit-box-shadow:1px 1px 0px #fff inset;
}

#my-calendar #cal-frame td.holiday {
  color:#b00020;
  box-shadow:1px 1px 0px #fff inset;
  -moz-box-shadow:1px 1px 0px #fff inset;
  -webkit-box-shadow:1px 1px 0px #fff inset;
}

#my-calendar #cal-frame td:not(.nil):hover {
  color:#fff;
  text-shadow: #6C1A07 0px -1px;
  background:#CD310D;
  -moz-box-shadow:0px 0px 0px;
  -webkit-box-shadow:0px 0px 0px;
}

#my-calendar #cal-frame td span {
  font-size:80%;
  position:relative;
}

#my-calendar #cal-frame td span:first-child {
  bottom:5px;
}

#my-calendar #cal-frame td span:last-child {
  top:5px;
}

#my-calendar #cal-frame table.curr {
  float:left;
}

#my-calendar #cal-frame table.temp {
  position:absolute;
}
